body {
  position: relative;
  min-height: 100vh;
}

main {
  max-width: 80vw;
  margin: 0 auto;
  padding-bottom: 4em;
}

#activity-title {
  width: 100%;
  margin-top: 1em;
  padding: 0.75em;

  text-align: center;
  border: 1px solid rgb(159, 158, 158);
  border-radius: 8px;
  background-color: rgb(252, 247, 247);
}

#activity-title h2 {
  margin: 0;
  padding: 0;
}

#text {
  overflow: auto;
}

#activity-image {
  object-fit: cover;
  max-width: 500px;
  max-height: 800px;

  border-radius: 8px;
  margin: 0.5em 0.5em 0.5em 0em;
  float: left;
}

aside {
  float: right;
  width: calc(100% - 520px);
}

#description-tag-box {
  margin: 0.5em 0em 0.5em 0.5em;
  border: 1px solid rgb(159, 158, 158);
  border-radius: 8px;
  padding: 0.5em;

  background-color: aliceblue;
}

#tags {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
}

#tags > span {
  margin: 6px;
}

.btn-danger {
  background-color: rgb(214, 160, 160);
  color: black;
  margin-left: 0.8em;
  border-radius: 8px;
}

.btn-success {
  background-color: rgb(160, 214, 160);
  color: black;
  float: right;
  border-radius: 8px;
  margin-right: 1px;
}

.btn-danger:focus,
.btn-success:focus {
  box-shadow: none;
}

/* The part YeEun modified: Erase it if not wanted */
.eachTag {
  text-align: center;
  float: left;
  width: 33%;
}

#description-tag-box {
  padding: 20px;
}
/* The part YeEun modified: Erase it if not wanted  */

/* Medium Screen */
@media screen and (max-width: 1100px) {
  #activity-image {
    max-width: 300px;
  }

  aside {
    width: calc(100% - 320px);
  }

  .btn-success,
  .btn-danger {
    padding: 6px;
  }
}

/* Small Screen */
@media screen and (max-width: 692px) {
  main {
    max-width: 90vw;
  }

  #activity-image {
    width: 100%;
    clear: both;
    display: block;
    margin: 0.5em auto 0 auto;

    object-fit: cover;
    max-width: 90vw;
  }

  aside {
    width: 100%;
    clear: both;
    display: block;
    margin: 0.5em auto;
  }

  #description-tag-box > h3 {
    font-size: 1em;
  }
  .btn-danger {
    margin-left: 0;
  }
}
