.home {
  padding-top: 10em;
}

#generate {
  background: linen;
  border: 1px solid #ccc;
  border-radius: 3em;
  color: #000;
  cursor: pointer;
  font-size: 2em;
  padding: 1em 1.5em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#generate:active {
  border: 1px solid rgb(138, 138, 138);
}

#filters {
  border: 1px solid #ccc;
  margin: auto;
  margin-top: 3em;
  width: 620px;
}

#main-filter {
  display: flex;
  justify-content: space-between;
  padding: 2em;
  background-color: #eee;
}

#more-filter {
  padding: 2em;
  display: flex !important;
  justify-content: space-between;
  background-color: #fff;
}

.accordion-button:is(.collapsed) {
  background-color: #ccc;
}

.accordion-button:not(.collapsed) {
  color: black;
  background-color: #fff;
}
