.home {
  margin-top: 20em;
}

#generate {
  background: rgb(173, 189, 192);
  border: 1px solid #ccc;
  border-radius: 3em;
  color: #000;
  cursor: pointer;
  font-size: 2em;
  padding: 1em 1.5em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
}

#generate:active {
  /* border: 1px solid rgb(138, 138, 138); */
  box-shadow: 1px 1px #888888;
}

#filters {
  border: 1px solid #ccc;
  margin: auto;
  margin-top: 3em;
  width: 620px;
}

#main-filter {
  display: flex;
  justify-content: space-between;
  padding: 2em;
  background-color: #eee;
}

#more-filter {
  padding: 2em;
  display: flex;
  justify-content: space-between;
}

.accordion-button:is(.collapsed) {
  background-color: #ccc;
}

.accordion-button:not(.collapsed) {
  color: black;
  background-color: #fff;
}

.accordion-button:focus {
  box-shadow: 1px 1px #888888;
}

.accordion-button:after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%2300000'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}

@media screen and (max-width: 692px) {
  #filters {
    width: 80%;
  }

  #main-filter {
    display: block;
  }

  .accordion-button {
    display: block;
  }

  .accordion-button:not(.collapsed) {
    display: block;
  }
}