.home {
  /* display: table; */
  /* position: fixed; */
  /* top: 0; */
  /* left: 0; */
  /* height: 100%; */
  /* width: 100%; */
  padding-top: 10em;
}

/* .home2 {
  display: table-cell;
  vertical-align: middle;
} */

#generate {
  background: linen;
  border: 1px solid #ccc;
  border-radius: 3em;
  color: #000;
  cursor: pointer;
  font-size: 2em;
  padding: 1em 1.5em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#generate:active {
  border: 1px solid rgb(138, 138, 138);
}

#filters {
  border: 1px solid #ccc;
  margin: auto;
  margin-top: 3em;
  width: 620px;
}

#main-filter {
  display: flex;
  justify-content: space-between;
  padding: 2em;
  background-color: #ccc;
}
