#welcomeBanner {
  padding: 0.25em;
  margin: 0.75em auto;
  max-width: 620px;
  text-align: center;
}

#filters {
  border: 1px solid #ccc;
  background-color: white;
  margin: 0.5em auto;
  padding: 1em;
  width: 620px;
}

#filters span {
  font-weight: bold;
}

#main-filter,
#more-filter {
  display: flex;
  justify-content: space-between;
  padding-top: 1em;
}

#generateBtn,
#generateBtn2 {
  background-color: #ae7e63;
  /* border: 1px solid grey; */
  border-radius: 0.45em;
  border-color: #c89f83;
  border-width: 2px;
  box-shadow: rgb(159, 159, 159) 0px 20px 30px -18px;

  /* border: none; */

  font-size: 1.5rem;
  color: white !important;

  cursor: pointer;
  font-weight: 440;
}

#generateBtn:active,
#generateBtn2:active {
  box-shadow: 1px 1px #888888;
  background-color: #c89f83;
  border-color: #ae7e63;
}

#generate2 {
  padding: 2em;
  text-align: center;
}

#generateBtn2 {
  font-size: 1.5em;
  padding: 0.5em 1.5em;
}

#generate {
  display: flex;
  justify-content: right;
  padding-top: 2em;
}

#generateBtn {
  font-size: 1em;
  padding: 0.5em 1em;
}

.dropdown > button {
  width: 160px;
  background-color: #f0e2cc;
  color: black;
}

.dropdown > button:active {
  background-color: #c89f83;
  border-color: #ae7e63 !important;
}

.dropdown > button:hover {
  background-color: #c89f83;
  border-color: #ae7e63 !important;
}

.dropdown > button:focus {
  background-color: #c89f83;
  border-color: #ae7e63 !important;
}

.is-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 674px) {
  #filters {
    width: 92%;
  }

  #welcome-text {
    width: 92%;
  }
}

@media screen and (max-width: 580px) {
  .dropdown > button {
    width: 130px;
  }

  .dropdown-menu {
    min-width: 130px;
  }
}

@media screen and (max-width: 484px) {
  #welcomeBanner {
    margin-bottom: 0;
  }

  #filters {
    margin-top: 1em;
  }

  #filter-wrapper {
    display: flex;
  }

  #main-filter,
  #more-filter {
    display: block;
    margin: 0 auto;
    padding-top: 0.5em;
  }

  .filter {
    padding-bottom: 0.75em;
  }

  #generate {
    padding-top: 1em;
    justify-content: center;
  }

  #generateBtn {
    padding: 0.4em 2em;
  }

  .btn {
    padding: 0.2rem 0.4rem;
  }
}

@media screen and (max-width: 350px) {
  #filters {
    width: 80%;
    display: block;
  }

  #filter-wrapper {
    display: block;
  }

  #main-filter {
    display: block;
  }

  #more-filter {
    padding-top: 0;
    display: block;
    overflow: visible;
  }

  .filter {
    padding-bottom: 1em;
  }

  #generate {
    justify-content: center;
  }
}
