main {
  width: 980px;
  margin: 1em auto;
}

#aboutus-title {
  text-align: center;
  margin: 30px 0px;
}

.card-group {
  padding: 15px;
}

.card {
  margin: 15px;
  box-shadow: rgb(159, 159, 159) 0px 20px 30px -18px;
}

.card img {
  width: 80%;
  margin: 1em auto;
}

@media screen and (max-width: 1000px) {
  main {
    width: 100%;
  }
}
