main h1 {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 0.5rem;
}

#desc {
  text-align: center;
  margin-bottom: 60px;
  color: gray;
}

#go-back {
  margin-bottom: 40px;
  padding: 0.25em 0.5em;
  border: 1px solid gray;
  border-radius: 5px;
  display: inline-flex;
  align-items: center; 
  background-color: transparent;
}

.list-group {
  margin: 0 auto;
  width: 980px;
}

.container {
  padding: 0 30px;
}

.read-more {
  background-color: #f0e2cc;
  /* box-shadow: rgb(159, 159, 159) 0px 20px 30px -18px; */
}

.read-more:hover {
  background-color: #f0e2cc;
  color: black;
}

@media screen and (max-width: 1000px) {
  .list-group {
    width: 100%;
  }
}
