form {
  padding: 15px 30px;
}

.center_div {
  margin: 0 auto;
  width: 980px;
}

main h1,
main p {
  text-align: center;
  padding: 0px 30px;
}

main h1 {
  margin-top: 30px;
}

main p {
  color: gray;
  margin-bottom: 40px;
}

#prevSubmission {
  text-align: center;
  margin-bottom: 40px;
}

#filters {
  display: flex;
  justify-content: space-evenly;
  padding-left: 1em;
}

.filter {
  padding-bottom: 1em;
}

#submitBtn {
  background-color: #ae7e63;
  color: white;

  border-radius: 0.45em;
  border-top: 2px solid #c89f83;
  border-left: 2px solid #c89f83;
  border-bottom: 2px solid #755543;
  border-right: 2px solid #755543;

  box-shadow: rgb(159, 159, 159) 0px 20px 30px -18px;
}

@media screen and (max-width: 1000px) {
  .center_div {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  #filters {
    display: block;
    width: auto;
  }

  #filters {
    display: flex !important;
    flex-flow: wrap;
    justify-content: center;
  }

  .filter {
    width: 40%;
  }
}
